html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: "press";
    src: url(../fonts/PressStart2P.ttf) format("truetype");
}
@font-face {
    font-family: "zarb";
    src: url(../fonts/zarbville_nbp.ttf) format("truetype");
}
@font-face {
    font-family: "atari";
    src: url(./fonts/atari%20full.ttf) format("truetype");
}
@font-face {
    font-family: "mayfair";
    src: url(../fonts/MAYFAIR_B.ttf) format("truetype");
}
div, h3, h1, h2, h4, p, td, tr, i, b, a {
    font-family: "press";
}

i, b, a, p, td, tr
{
    color: #afd24c;
    font-size: 14px;
}
p
{
    text-align: center;
}

h3
{
    color: #afd24c;
    text-align: center;
    font-size:120%;
}

h1, h2
{
    color: #afd24c;
    text-align: center;
    font-size:140%;
}

h4
{
    color: #afd24c;
    font-size: 14px;
    text-align: center;
}

h5
{
    color: #afd24c;
    font-size: 13px;
    text-align: center;
}


th
{
    text-align: right;
}

td, th
{
    padding: 5px;
}

td
{
    text-align: right;
}

td.menu
{
    text-align: center;
}

td.label
{
    width:400px;
}

td.typelabel
{
    width:100px;
}

.menutext
{
    font-family: arial;
    /*font-style: italic;*/
    color: #afd24c;
    font-size: medium;
    text-align: center;
}


table
{
    margin: auto;
}

input[type="submit"] {
    box-shadow: 0px 0px 9px rgba(30,30,60, 0.3); -moz-box-shadow: 0px 0px 9px rgba(30,30,60, 0.75); -webkit-box-shadow: 0px 0px 9px rgba(30,30,60, 0.3);
    font-size: 16px; color: #afd24c; font-weight: bold;  width: 320px; height: 50px; font-family: "press";
    background: url(./images/Save.jpg) no-repeat 0px 0px;
}

input[type="radio"] {
    width:40px;
}

body {
    background-color : #333928;
}
.central
{
    background-color : #333928;
    margin: auto;
    text-align: center;
}

.image
{
    margin: auto;
}

input
{
    width: 300px;
}

.plusheading h3
{
    font-size: 15px;
}

.heading h4
{
    font-size: 16px;
}

.heading h5
{
    font-size: 14px;
}

.box {
    padding-top: 5px;
}

.box h4
{
    font-size: 14px;
}

hr
{
    color:  #afd24c;
}

td.instructions
{
    font-size: 12px;
}
.radiobox
{
    width : 800px;
    padding-top: 5px;
    margin: auto;
}

table.radio
{
    width : 800px;
    text-align: center;
}
td.radiotd
{
    max-width: 40px;
    text-align: center;
}

.blink
{
    text-decoration: blink;
}

.goldstars
{
    font-size: 30px;
    color: #cb8a00;
}

.silverstars
{
    font-size: 30px;
    color: #a8a8a8;

}

.bronzestars
{
    font-size: 30px;
    color: #975a34;
}

#footer {
    text-align: center;
    height: 100px;
    margin-top: 20px;
    padding-top: 10px;
}

#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#footer ul li {
    display: inline;
    margin-right: 7px;
}

#footer ul li.last {
    margin-right: 0;
}

.uoe-logo {
    width: 10%;
    float: left;
}

.footer-links {
    width: 75%;
    float: left;
    margin-left: 20px;
}

#footer ul.links-top {
    margin-bottom: 20px;
}

.luc-logo {
    width: 10%;
    float: right;
    margin-right: 15px;
    margin-top: 8px;
}

a.footer-link{
    font-size: 12px;
}

h1.giant {
    display: inline;
    font-size: 100px;
}

td.gameover {
    text-align: center;
}
