@font-face {
    font-family: "press";
    src: url("../fonts/PressStart2P.ttf") format("truetype");
}

@font-face {
    font-family: "zarb";
    src: url("../fonts/zarbville_nbp.ttf") format("truetype");
}

@font-face {
    font-family: "atari";
    src: url("./fonts/atari%20full.ttf") format("truetype");
}

@font-face {
    font-family: "mayfair";
    src: url("../fonts/MAYFAIR_B.ttf") format("truetype");
}

div, h3, h1, h2, h4, p, td, tr, i, b, a {
    font-family: Courier, sans-serif;;
}

i, b, a, p, td, tr {
    color: #1aa5c7;
    font-size: 14px;
}

p {
    text-align: center;
}

h3 {
    color: #1aa5c7;
    font-size: 120%;
    text-align: center;
}

h1, h2 {
    color: #1aa5c7;
    font-size: 140%;
    text-align: center;
}

h4 {
    color: #ccc;
    font-size: 14px;
    text-align: center;
}

h5 {
    color: #1aa5c7;
    font-size: 13px;
    text-align: center;
}

th {
    text-align: right;
}

td, th {
    padding: 5px;
}

td {
    text-align: center;
}

td.menu {
    text-align: center;
}

td.label {
    max-width: 400px;
    text-align: right;
}

td.typelabel {
    width: 100px;
}

.menutext {
    color: #ccc;
    font-family: Courier, sans-serif;;
    font-size: medium;
    text-align: center;
}

table {
    margin: auto;
}

input[type="submit"] {
    background: url("./images/Save.jpg") no-repeat scroll 0px 0px transparent;
    color: #1aa5c7;
    font-family: Courier, sans-serif;;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 230px;
}

input[type="radio"] {
    width: 40px;
}

body {
    background-color: #333333;
}

.central {
    background-color: #333333;
    margin: auto;
    text-align: center;
}

.image {
    margin: auto;
}

input {
    width: 300px;
}

.plusheading h3 {
    font-size: 15px;
}

.heading h4 {
    font-size: 16px;
}

.box {
    padding-top: 5px;
}

.box h4 {
    font-size: 14px;
}

hr {
    color: #fc2d48;
}

td.instructions {
    font-size: 12px;
}

.radiobox {
    margin: auto;
    padding-top: 5px;
    width: 800px;
}

table.radio {
    text-align: center;
    width: 800px;
}

td.radiotd {
    max-width: 40px;
    text-align: center;
}

.blink {
    text-decoration: blink;
}

.goldstars {
    color: #cb8a00;
    font-size: 30px;
}

.silverstars {
    color: #a8a8a8;
    font-size: 30px;
}

.bronzestars {
    color: #975a34;
    font-size: 30px;
}

#footer {
    height: 120px;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    overflow: auto;
}

#footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

#footer ul li {
    display: inline;
    margin-right: 7px;
}

#footer ul li.last {
    margin-right: 0px;
}

.uoe-logo {
    float: left;
    width: 10%;
}

.footer-links {
    float: left;
    margin-left: 20px;
    width: 75%;
}

#footer ul.links-top {
    margin-bottom: 20px;
}

.luc-logo {
    float: right;
    margin-right: 15px;
    margin-top: 8px;
    width: 10%;
}

a.footer-link{
    font-size: 12px;
}



        * {
            color: white;
        }
        img {
            margin: 0;
            margin: auto;
            float: none;
            display: block;
        }
        #openseadragon1 {
            margin: 0 auto;
            margin-left: 8%;
            margin-right: 8%;
            width: auto;
            height: 1000px;
            display: block;
        }
        #toolbarDiv {
            z-index: 50;
        }

        .toolbarItem {
            width: 51px;
            height: 50px;
        }

        #zoom-in {
            background-image: url(./images/buttons/zoomin_rest.png);
        }

        #zoom-out {
            background-image: url(./images/buttons/zoomout_rest.png);
        }

        #home {
            background-image: url(./images/buttons/home_rest.png);
        }

        #full-page {
            background-image: url(./images/buttons/fullpage_rest.png);
        }

        #next {
            display: inline-block;
            position: relative;
            background-image: url(./images/buttons/next_rest.png);
        }

        #prev {
            display: inline-block;
            position: relative;
            background-image: url(./images/buttons/previous_rest.png);
        }

        .displayregion {
            border: 2px solid #630d0d;
        }
        #toolbarDiv {
            height: 1px;
        }
        h4 {
            margin-top: 5px;
        }
        div.information {
            color: white;
            margin-bottom: 10px;
        }
        div.detaileddescription {
            margin: 6px 10%;
        }
        div.description {
            color: #3e8f3e;
        }
        /* iPhone 6 in portrait  */
        @media only screen 
        and (min-device-width : 375px) 
        and (max-device-width : 667px) 
        and (orientation : portrait) { 
            * {
                background-color: #333333;
            }
            div.heading {
                margin-top: 3rem;
                margin-bottom: 5rem;
            }
            img.img-responsive {

            }
            div.central {
                box-sizing: content-box;
            }
            h4 {
                font-weight: bold;
                font-size: 3rem;
            }
            a {
                font-size: 1.3rem;
            }
            input.btn {
                width: 60rem !important;
                height: 10rem;
                font-size: 3rem;
            }
            div.information {
                margin-left: 2rem;
                margin-right: 2rem;
                font-size: 3rem;
            }
            input.form-control.form-inline {
                margin-top: 5rem;
                width: 60rem !important;
                height: 6rem !important;
                font-size: 3rem;
            }
            td.menutext {
                margin-left: 2rem;
                margin-right: 2rem;
                margin-bottom: 20px;
                font-size: 2rem;
            }
            #arrow {
                width: 4rem;
                height: 4rem;
            }
            #footer a{
                font-size: 2rem;
                padding-bottom: 3rem;
            }
            #footer div.uoe-logo img{
                float: left;
                width: 8rem;
            }
            #footer div.luc-logo img{
                float: right;
                width: 8rem;
            }
            #footer {
                overflow: auto;
            }
        }