@font-face {
    font-family: "press";
    src: url("../fonts/PressStart2P.ttf") format("truetype");
}

@font-face {
    font-family: "zarb";
    src: url("../fonts/zarbville_nbp.ttf") format("truetype");
}

@font-face {
    font-family: "atari";
    src: url("./fonts/atari%20full.ttf") format("truetype");
}

@font-face {
    font-family: "mayfair";
    src: url("../fonts/MAYFAIR_B.ttf") format("truetype");
}

div, h3, h1, h2, h4, p, td, tr, i, b, a {
    font-family: Courier, sans-serif;;
}

i, b, a, p, td, tr {
    color: #1aa5c7;
    font-size: 14px;
}

p {
    text-align: center;
}

h3 {
    color: #1aa5c7;
    font-size: 120%;
    text-align: center;
}

h1, h2 {
    color: #1aa5c7;
    font-size: 140%;
    text-align: center;
}

h4 {
    color: #ccc;
    font-size: 14px;
    text-align: center;
}

h5 {
    color: #1aa5c7;
    font-size: 13px;
    text-align: center;
}

th {
    text-align: right;
}

td, th {
    padding: 5px;
}

td {
    text-align: center;
}

td.menu {
    text-align: center;
}

td.label {
    max-width: 400px;
    text-align: right;
}

td.typelabel {
    width: 100px;
}

.menutext {
    color: #ccc;
    font-family: Courier, sans-serif;;
    font-size: medium;
    text-align: center;
}

table {
    margin: auto;
}

input[type="submit"] {
    background: url("./images/Save.jpg") no-repeat scroll 0px 0px transparent;
    color: #1aa5c7;
    font-family: Courier, sans-serif;;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 230px;
}

input[type="radio"] {
    width: 40px;
}

body {
    background-color: #333333;
}

.central {
    background-color: #333333;
    margin: auto;
    text-align: center;
}

.image {
    margin: auto;
}

input {
    width: 300px;
}

.plusheading h3 {
    font-size: 15px;
}

.heading h4 {
    font-size: 16px;
}

.box {
    padding-top: 5px;
}

.box h4 {
    font-size: 14px;
}

hr {
    color: #fc2d48;
}

td.instructions {
    font-size: 12px;
}

.radiobox {
    margin: auto;
    padding-top: 5px;
    width: 800px;
}

table.radio {
    text-align: center;
    width: 800px;
}

td.radiotd {
    max-width: 40px;
    text-align: center;
}

.blink {
    text-decoration: blink;
}

.goldstars {
    color: #cb8a00;
    font-size: 30px;
}

.silverstars {
    color: #a8a8a8;
    font-size: 30px;
}

.bronzestars {
    color: #975a34;
    font-size: 30px;
}

#footer {
    height: 100px;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
}

#footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

#footer ul li {
    display: inline;
    margin-right: 7px;
}

#footer ul li.last {
    margin-right: 0px;
}

.uoe-logo {
    float: left;
    width: 10%;
}

.footer-links {
    float: left;
    margin-left: 20px;
    width: 75%;
}

#footer ul.links-top {
    margin-bottom: 20px;
}

.luc-logo {
    float: right;
    margin-right: 15px;
    margin-top: 8px;
    width: 10%;
}

a.footer-link{
    font-size: 12px;
}